/* Estilo do Menu Superior */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00cc66; /* Verde */
    padding: 10px 20px;
    color: white;
    position: sticky; /* Fica fixo no topo */
    top: 0;
    z-index: 1000;
  }
  
  .menu-hamburguer {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Esconde no desktop */
  }
  
  .menu {
    display: flex;
    gap: 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .menu a:hover,
  .menu a.active {
    background-color: white;
    color: #00cc66; /* Verde */
    border-radius: 5px;
  }
  
  /* Menu responsivo para dispositivos menores */
  @media (max-width: 768px) {
    .menu-hamburguer {
      display: block; /* Mostra o ícone do menu */
    }
  
    .menu {
      display: none; /* Esconde o menu por padrão */
      flex-direction: column;
      background-color: #32cd32;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 200px;
      border-radius: 5px;
    }
  
    .menu a {
      padding: 10px;
      text-align: center;
    }
  
    .menu.show {
      display: flex; /* Mostra o menu quando ativado */
    }
  }
  /* Grid de Projetos */
  .projetos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 20px; /* Espaçamento entre os itens */
    margin: 20px; /* Margem ao redor da container */
}

.bloco {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90vh;
}

.bloco img, .bloco iframe {
    width: 90%;
    max-width: 100%; /* Para garantir que as imagens e iframes não ultrapassem o limite */
    height: 500px;
    border-radius: 8px;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .projetos-container {
        grid-template-columns: 1fr; /* 1 coluna em telas menores */
    }
}

.Outro {
  position: absolute;
  width: 50%;
}